<div class="homepage-bg">
  <div class="header">
    <div>GEAR UP!</div>
    <div>What is your next challenge?</div>
  </div>
  <img class="coming-soon" src="../../assets/images/general/coming_soon.png">
  <app-event-search-bar></app-event-search-bar>

  <div class="sub-header">
    Here you can find everything you need to know about your next marathon.
  </div>
  
  <div class="live-events-btn">
    <app-button [classes]="'dark-gray box-shadow-lite extra-padding radius'" [text]="'See our live events'"></app-button>
    <div class="arrow bounce"></div>
  </div>

  <div class="footer" (click)="liveEvents()">
    .
  </div>
</div>
