<div class="total-package">
  <div class="timer-container">
    <h1><span class="timer-header">STARTS IN</span></h1>
    <div class="timer">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="timer-section">
            <span class="time">{{timer.d}}:</span>
            <span>DAYS</span>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="timer-section">
            <span class="time">{{timer.h}}:</span>
            <span>HOURS</span>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="timer-section">
            <span class="time">{{timer.m}}:</span>
            <span>MINUTES</span>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="timer-section">
            <span class="time">{{timer.s}}</span>
            <span>SECONDS</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="package-container">-->
    <!--<div class="package-header">-->
      <!--PACKAGE TOTAL-->
      <!--<div class="package-total-price" >-->
        <!--$ {{totalPackageService.totalPackageCheckout.totalPrice}}-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="package-body">-->
          <!--<div class="checkout-btn-container">-->
            <!--<app-button [classes]="'peru box-shadow-lite'" [text]="'PROCEED TO CHECKOUT'" ></app-button>-->
          <!--</div>-->
          <!--<div class="package-body-header">-->
            <!--OUR PROMISE TO YOU-->
          <!--</div>-->
          <!--<ul class="package-guarantee-text">-->
            <!--<li>Deals and discounts when booking through us</li>-->
            <!--<li>24 hours cancellation policy</li>-->
            <!--<li>We accept: X X X </li>-->
          <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <div class="map-container">

  </div>
</div>
