<div class="forecast-header"> Predicted weather</div>
<table class="forecast-table" *ngIf="forecastLoaded">
  <!-- <tr>
    <td>
      <div>
        {{weatherForecast[0].dayName}}
      </div>
      <div>
        <img src="../../assets/images/weather/{{weatherForecast[0].Day.Icon}}.png">
      </div>
      <div>
        {{weatherForecast[0].Temperature.Maximum.Value}} °
        {{weatherForecast[0].Temperature.Minimum.Value}} °
      </div>
    </td>
    <td>
      <div>
        {{weatherForecast[1].dayName}}
      </div>
      <div>
        <img src="../../assets/images/weather/{{weatherForecast[1].Day.Icon}}.png">
      </div>
      <div>
        {{weatherForecast[1].Temperature.Maximum.Value}} °
        {{weatherForecast[1].Temperature.Minimum.Value}} °
      </div>
    </td>
    <td>
      <div>
        {{weatherForecast[2].dayName}}
      </div>
      <div>
        <img src="../../assets/images/weather/{{weatherForecast[2].Day.Icon}}.png">
      </div>
      <div>
        {{weatherForecast[2].Temperature.Maximum.Value}} °
        {{weatherForecast[2].Temperature.Minimum.Value}} °
      </div>
    </td>
  </tr> -->
  <tr>
    <td>
      <div>
        {{weatherForecast[3].dayName}}
      </div>
      <div>
        <img src="../../assets/images/weather/{{weatherForecast[3].Day.Icon}}.png">
      </div>
      <div>
        {{weatherForecast[3].Temperature.Maximum.Value}} °
        {{weatherForecast[3].Temperature.Minimum.Value}} °
      </div>
    </td>
    <!-- <td>
      <div>
        {{weatherForecast[4].dayName}}
      </div>
      <div>
        <img src="../../assets/images/weather/{{weatherForecast[4].Day.Icon}}.png">
      </div>
      <div>
        {{weatherForecast[4].Temperature.Maximum.Value}} °
        {{weatherForecast[4].Temperature.Minimum.Value}} °
      </div>
    </td>
    <td>
      <div>
        {{weatherForecast[0].dayName}}
      </div>
      <div>
        <img src="../../assets/images/weather/{{weatherForecast[0].Day.Icon}}.png">
      </div>
      <div>
        {{weatherForecast[0].Temperature.Maximum.Value}} °
        {{weatherForecast[0].Temperature.Minimum.Value}} °
      </div>
    </td> -->
  </tr>
</table>
