.progress-bar-wrapper {
  margin-top: 3em;
  display: flex;
  text-align: center;
  table {
    width: 100%;
  }
  .section-cube {
    border: 1px solid #333333;
    color: #333333;
    font-size: 1.3em;
    font-weight: 600;
    height: 7em;
    width: 16.666667%;
    cursor: pointer;
    h1{
      text-align: center;
      margin-top: -3.5em;
      height: .8em;
      line-height: .4em;
      font-size: 1em;
      .progress-step-number {
        padding: 0 .4em .1em .4em;
        color: #333333;
        background-color: white;
        font-weight: 700;
        border-radius: 2em;
        border: 2px solid #333333;
      }
    }
  }
}

.mobile-progress-bar-wrapper {

  margin-top: 2em;
  display: flex;
  table {
    table-layout: fixed;
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;
    .section-cube {
      border: 1px solid #333333;
      color: #333333;
      font-size: 1em;
      font-weight: bolder;
      height: 7em;
      width: 16.666667%;
      cursor: pointer;
      h1{
        text-align: center;
        margin-top: -3.5em;
        height: .8em;
        line-height: .4em;
        font-size: 1em;
        .progress-step-number {
          padding: 0 .4em .1em .4em;
          color: #333333;
          background-color: white;
          font-weight: 700;
          border-radius: 2em;
          border: 2px solid #333333;
        }
      }
    }
  }
  .arrow-container {
    position: relative;
    top: 0.5em;
    font-size: 2em;
  }
}


.active {
  color: white !important;
  background: #333333;
}
.skipped {
  background: #c09348;
  color: white !important;
}
