.row {
  margin-top: .5em;
}
textarea {
  resize: none;
}

.general-modal-header {
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  color: #c09348;
}

.general-modal-content {
  font-size: 1.3em;
  padding: .5em;
}

.contact-btn {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
