div {
  text-align: center;
}
.round-image {
  border-radius: 3em;
}

.xsmall {
  width: 1em;
}

.small {
  width: 2em;
}

.medium {
  width: 3em;
}

.big {
  border: 1px solid #c3c3c3;
  width: 5em;
}

.bigger {
  width: 7em;
}

.booking-background {
  background: #092b82;
  padding: 5px;
}
