<div *ngIf="isDataAvailable">

    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">
          <app-event-header></app-event-header>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
  
    <div class="row">
      <div class="col-sm-1 col-md-1"></div>
  
      <div class="app-wrapper">
        <div class="col-sm-10 col-md-10">
          <div class="col-sm-8 col-md-8">
            <app-video-container></app-video-container>
            <app-progress-bar></app-progress-bar>
            <app-content></app-content>
          </div>
  
          <div class="sticky package" *ngIf="!isMobile">
            <div class="col-sm-4 col-md-4">
              <app-total-package></app-total-package>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="col-sm-1 col-md-1"></div>
    </div>

</div>
